/* Schema colori:
   Verde bottiglia: 2d644f
   Arancione Bitcoin: f7931a
   Bianco panna: fff9e0
   Marrone: 231709 */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9e0; /* Bianco panna */
    color: #231709; /* Marrone */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2d644f; /* Verde bottiglia */
    color: #fff9e0; /* Bianco panna */
}

.logo {
    width: 100%; /* Per rendere l'immagine responsiva */
    height: auto; /* Mantiene le proporzioni */
    max-width: 400px; /* Limita la larghezza massima a 400 pixel */
}

.motto {
    font-style: italic;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.social a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.social a:hover {
    text-decoration: underline;
}

.map {
    height: 400px; /* Imposta l'altezza della mappa */
    margin: 20px 0; /* Margine sopra e sotto */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2d644f; /* Verde bottiglia */
    color: #fff9e0; /* Bianco panna */
    position: relative;
    bottom: 0;
    width: 100%;
}

